.centered_block{
	width:700px;
	margin:0 auto;
}
.action_blocks{
	display:table;
}
.action_blocks.column .block{
	width:50%;
	float:left;
	margin-top:30px;
}
.action_blocks.row .block{
	width:100%;
	float:none;
	margin-top:30px;
}
.action_blocks .block:first-child{
	margin-top:0;
}
.action_blocks.column .block:nth-child(2){
	margin-top:0;
}
.action_blocks.column .block:nth-child(odd){
	padding-right:30px;
}
.action_blocks.column .block:nth-child(even){
	padding-left:30px;
}

.action_blocks h2{
	font-family:'regular', Arial;
	font-size:20px;
	line-height:1.12em;
	margin-bottom:20px;
}
.action_blocks p{
	line-height:1.20em;
	margin-bottom:20px;
	text-align:justify;
}
.action_blocks.column button{
	width:100%;
}

.action_blocks.border .block div{
	border:1px solid #d8dbde;
	padding:15px;
}
.action_blocks.border .block:nth-child(odd){
	padding-right:15px;
}
.action_blocks.border .block:nth-child(even){
	padding-left:15px;
}
@media all and (max-width:767px){
	.centered_block{
		width:100%;
	}
	.action_blocks.column .block{
		width:100%;
		padding:0 !important;
	}
	.action_blocks.column .block:nth-child(2){
		margin-top:30px;
	}
	.action_blocks.column button{
		width:auto;
	}
	.action_blocks h2, .action_blocks p{ height:auto!important;margin-bottom:10px;}
}

.extra_popover{
	padding:9px 12px;
	background:#ccc; 
	display:inline-block; 
	height:34px; 
	vertical-align:top;
	font-size:1em;
	cursor:pointer;
}